<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<div id="app">
		<input type="number" v-model="int_input" >
		<input type="number" v-model="row_input" >
		<div class="space"> 
		</div>
		<div v-for="n in row_input*1" ><h4>{{int_input}} x {{n}} = {{n*int_input}}</h4></div> 
		<div> <h4> {{ sum(row_input*1)*int_input*1 }}  <!--  {{sum(row_input*1)}} --> </h4> </div>


		


	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				int_input: 2,
				row_input:12
			},
			methods: {
  			sum: function (n_sum) { 
  				if (n_sum>1) {
  					return this.sum(n_sum-1)+n_sum
  				}
  				else{ return 1 }
  			}
}
			
		})
		
	</script>
</body>
</html>